{% extends "crmsystem/base.html" %}
{% block content %}
    <div class="home-content">
       <span class="text">Расписание</span>
           <ul class="sub-menu-user">
            <a href="admin/">
            <i class='bx bx-memory-card' ></i>
            </a>
           </ul>
     </div>

     <div class="home-page">
         <div-home class="home-page-content">
             <button class="button"><a class="button grey" href="#"><span class="text">Преподаватель</span></a></button>
         </div-home>
         <div-home class="home-page-content">
            <button class="button"><a class="button grey" href="#"><span class="text">Группа</span></a></button>
         </div-home>
         <div-home class="home-page-content">
            <button class="button"><a class="button grey" href="#"><span class="text">Аудитория</span></a></button>
         </div-home>
         <div-home class="home-page-content">
            <button class="button"><a class="button grey" href="#"><span class="text">Формат группы</span></a></button>
         </div-home>
         <div-home class="home-page-content">
            <button class="button"><a class="button grey" href="#"><span class="text">Тип занятия</span></a></button>
         </div-home>
    </div>
     <div class="home-body1">
         <div class="home-page-content">
            <span class="text">ПН</span>
         </div>
         <div class="home-page-content">
            <span class="text">ВТ</span>
         </div>
         <div class="home-page-content">
            <span class="text">СР</span>
         </div>
         <div class="home-page-content">
            <span class="text">ЧТ</span>
         </div>
         <div class="home-page-content">
            <span class="text">ПТ</span>
         </div>
         <div class="home-page-content">
            <span class="text">СБ</span>
         </div>
         <div class="home-page-content">
            <span class="text">   ВС</span>
         </div>
     </div>
      <div class="home-body2">
         <div class="home-page-content">
            <span class="text">11</span>
         </div>
         <div class="home-page-content">
            <span class="text">12</span>
         </div>
         <div class="home-page-content">
            <span class="text">13</span>
         </div>
         <div class="home-page-content">
            <span class="text">14</span>
         </div>
         <div class="home-page-content">
            <span class="text">15</span>
         </div>
         <div class="home-page-content">
            <span class="text">16</span>
         </div>
         <div class="home-page-content">
            <span class="text">17</span>
         </div>
     </div>
     <div class="home-body3">
          8:00<div class="home-body3 hr"><hr color="#7F838E"></div>
         9:00<div class="home-body3 hr"><hr color="#7F838E"></div>
         10:00<div class="home-body3 hr"><hr color="#7F838E"></div>
         11:00<div class="home-body3 hr"><hr color="#7F838E"></div>
         12:00<div class="home-body3 hr"><hr color="#7F838E"></div>
         13:00<div class="home-body3 hr"><hr color="#7F838E"></div>
         14:00<div class="home-body3 hr"><hr color="#7F838E"></div>
         15:00<div class="home-body3 hr"><hr color="#7F838E"></div>
         16:00<div class="home-body3 hr"><hr color="#7F838E"></div>
         17:00<div class="home-body3 hr"><hr color="#7F838E"></div>
         18:00<div class="home-body3 hr"><hr color="#7F838E"></div>
         19:00<div class="home-body3 hr"><hr color="#7F838E"></div>
     </div>
{% endblock %}








